# general
scipy==1.14.0
pytest==8.2.2
pytest-order==1.2.1
loguru==0.7.2
tqdm
# schema
networkx==3.3
pydantic==2.7.4
pysmiles==1.1.2
periodictable==1.7.0
dash-bootstrap-components==1.6.0
dash_cytoscape==1.0.2
dash==2.17.1
# opt
gurobipy==11.0.2
# sim
pandas==2.2.3
simpy==4.1.1
twa==0.0.9
pyshacl
# test
seaborn
matplotlib